
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  body {
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(176, 207, 214, 0.8);
    border-radius: 10px;
  }
  
  h1 {
    color: #0066cc;
    text-align: center;
  }
  
  #info {
    margin-bottom: 20px;
  }
  
  .login {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0066cc;
    color: #fff;
    cursor: pointer;
  }
  
  h4 {
    color: #9933cc;
    text-align: center;
  }
    